html, body {
  height: 100%;
  width: 100%;
}


/* The hero image */
.hero-image {
  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://www.spps.org/cms/lib/MN01910242/Centricity/Domain/15387/the-arts.jpg");

  /* Set a specific height */
  height: 120%;

  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.block:not(:last-child) {
  margin-bottom: 1.5rem;
}
